main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bt-ask-question {
    margin-top: 10px;
    font-family: inherit;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    color: #7a7b7c;
    background-color: white;
    border-color: #440A5F;
    margin-top: 5px;
    padding: 5px;
    transition-duration: 0.3s;
}

#bt-ask-question:hover {
    cursor: pointer;
    color: #FBC200;
    background-color: #440A5F;
    border-color: #6A3190;
}

.title {
    color: #6A3190;
}