header, nav {
    display: flex;
    flex-direction: row;
    height: min-content;
}

header {
    justify-content: space-between;
    border-bottom: 1px red solid;
    margin: 0px;
    padding: 0px;

}

nav {
    margin-right: 10px;
    gap: 10px;
}

#logo {
    height: 100px;
    width: 100px;
    margin-top: -25px;
    margin-left: 10px;
    margin-bottom: -30px;
}