:root {
    --image-size: 40px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main > * {
    margin-left: 100px; 
    margin-right: 100px;
}

#question-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #440A5F;
}

#answered-area {
    display: flex;
    flex-direction: column;
}

.answer {
    display: grid;
    grid-template-areas:
        "text buttons";
    grid-template-columns: 9fr 1fr;
    border: 2px solid #FBC200;
}

.text-area {
    grid-area: text;
}

.bt-area {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reaction-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--image-size);
    height: var(--image-size);
    border-radius: 50%;
    background-color: white;
    transition-duration: 0.3s;
}

.reaction-button:hover {
    cursor: pointer;
    background-color: #440A5F;
}

.reaction-image {
    width: var(--image-size);
    height: var(--image-size);
}

#asker-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

form > * {
    font-family: inherit;
}

#response-area {
    display: grid;
    grid-template-areas:
        "response response blank"
        "response response submit"
        "response response submit";
    grid-template-columns: 5fr 4fr 1fr;
    gap: 10px;
}

#response-box {
    grid-area: response;
    height: 200px;
}

#submit-response {
    grid-area: submit;
    height: 80px;
}