body {
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#status_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}